<style>
  .custom-margin {
      margin-top: 6rem; /* Adjust this value as needed */
  }
</style>
<div class="card container custom-margin p-5" style="max-width: 500px;">
  <form action="/forgetpass" id="forget_pass_form" method="post" class="card-body">
      <legend>Forget Password</legend>
      <div class="mb-3 form-group">
          <label for="email" class="form-label">Email:</label>
          <input class="form-control" id="email" type="email" name="email" required>
          <small></small>
      </div>
      <button class="btn btn-primary w-100" type="submit">Submit</button>
  </form>
</div>
<script src="/javascripts/forgotValidation.js"></script>