<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
    <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>

</head>
<body>
    <div class="container">
        <div class="main">
            <!-- <div class="topbar">
                <a href="">Logout</a>
                <a href="">Support</a>
                <a href="">Work</a>
                <a href="">Home</a>
            </div> -->
            <div class="row">
                <div class="col-md-4 mt-1">
                    <div class="card text-center sidebar">
                        <div class="card-body">
                            <img src="C:\Users\nehar\Desktop\single product image\img\round_profil_picture_after_.webp" alt="" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h3>Chinnu</h3>
                                <a href="">My Order</a>
                                <a href="">Card</a>
                                <a href="">My WishList</a>
                                <a href="">Manage Address</a>
                                <a href="">Signout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-1">
                    <div class="card mb-3 content">
                        <h1 class="m-3 pt-3">About</h1>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Full Name</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    Burk
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    abc@gmail.com
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Phone</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    00092345
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Address</h5>
                                
                                </div>
                                <div class="col-md-9 text-secondary">
                                    street no,4
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 content">
                        <h1 class="m-3"> Change password</h1>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Old password</h5>
                                    <input type="text">
                                </div>
                                <div class="col-ms-9 text-secondary">
                                    <h5>New password</h5>
                                    <input type="text">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

<style>
    body{
        margin-top: 20px;
        background-color: lightgrey;
    }
    .main{
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topbar{
        background-color: teal;
        overflow: hidden;
    }
    .topbar a{
        float: right;
        color: whitesmoke;
        text-align: center;
        padding: 20px 26px;
        text-decoration: none;
        font-size: 26px;
    }
    .sidebar{
        background-color: #333;
        color: white;
        height: 100%;
    }
    .sidebar a{
        margin-left: 10px;
        display: block;
        color: white;
        padding-bottom: 10px;
        font-size: 30px;
        text-decoration: none;
    }
    .card{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .content{
        background-color: whitesmoke;
    }
</style>