
<main class="main-content" id="coupon">
    <h1>Coupon List</h1>
    <p>List of coupons</p>
    <form action="" method="">
        <button type="submit" id="addCoupon" class="btn btn-dark d-flex mb-3">Add New  Coupon</button>
    </form>
    <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 80px;">ID</th>
                <th>Coupon Code</th>
                <th>Discount</th>
                <th>Minimum amount</th>
                <th>Desprition</th>
                <th>Expiry Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>